body {
    height: 100%;
    background-image: url("https://a-static.besthdwallpaper.com/lightning-dark-wallpaper-2880x1620-81354_52.jpg");
    background-size: cover;
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}