body {
    height: 100%;
    width: 100%;
    background-image: url("https://a-static.besthdwallpaper.com/night-city-minimalist-wallpaper-1920x1280-81149_38.jpg");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}